.App {
  text-align: center;
}

.App-header {
  background: rgb(2,0,36);
  background: linear-gradient(336deg, rgba(2,0,36,1) 0%, rgba(58,63,116,1) 80%, rgba(21,20,44,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.MessageBox {
  background: rgb(51,65,85);
  background: linear-gradient(0deg, rgba(51,65,85,0.65) 10%, rgba(30,31,32,0.65) 100%);
}
